# Include any files or directories that you don't want to be copied to your
# container here (e.g., local build artifacts, temporary files, etc.).
.git
.github
.vscode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
.env
*.db
.pytest_cache/
docker-compose.yml
Dockerfile
.dockerignore
.gitignore
README.md